body {
  background-color: #574C36;
}

h1 {
  text-align: center;
  font-size: 2em;
  font: arial;
  color: #7af0cc;
  margin-bottom: .3em;
}

p {
  background-color: #574C36;
  font: outline;
}

table {
  width: 500px;
  height: 500px;
  align-content: center;
}


td {
  border-radius: 10px;
  height: 100px;
  width: 100px;
  background: #ffc;
}

#trHeader {
  text-decoration: underline;
  color: #900;
}

.centerCell {
  text-align: center;
}
